[submodule "external/llvm-project"]
	path = external/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "External/llvm-project"]
	path = External/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "LLVM/llvm-project"]
	path = LLVM/llvm-project
	url = https://github.com/llvm/llvm-project.git
